.com-container {
    display: flex;
    margin-top: 4%;
    background-color: #272935;
    box-shadow: 0 3px 5px -5px rgba(255, 255, 255, 0.8);
    padding-bottom: 50px;
}

.com-left-half {
    flex-basis: 30%;
    overflow: auto;
    /* background-color: #272935; */
    /* background-color: red; */
}

.com-txt-holder{
    margin-left: 25%;
    text-align: left;
    font-size:  2.6rem;
    /* font-weight: 500; */
    color: #fff;
}

.com-right-half {
    flex-basis: 70%;
    overflow: auto;
    background-color: #272935;
    /* background-color: green; */
    display: flex;
    overflow: hidden;
}

.com-handle{
    flex-basis: 10%;
    /* background-color: green; */
}

.com-svg-elem{
    width: 80%;
    height: 100%;
}

.com-itm-holder{
    flex-basis: 90%;
    /* margin-bottom: 20px; */
    /* overflow: auto; */
}
.com-itm{
    background-color: #343a40;
    width: 80%;
    height: 9%;
    padding: 30px;
    margin-bottom: 6%;
    border-radius: 5px;
    box-shadow: 2px 7px 5px -3px rgba(0, 0, 0, 0.8);
}

.com-itm-title{
    display: flex;
    align-items: left;
}

.com-itm-title-logo {
    flex-basis: 10%;
    /* border: 5px solid red; */
}

.com-itm-title-desc{
    flex-basis: 85%;
    margin-left: 3%;
}

.com-logo{
    height: 100px;
    width: 120px;
    /* border: 5px solid red; */
}

.com-itm-title-desc-itm-pos{
    text-align: left;
    /* margin-left: 5%; */
    font-size: large;
    font-weight: 500;
    color: #fff;
    margin-bottom: 5px;
}

.com-itm-title-desc-itm-names{
    text-align: left;
    /* margin-left: 5%; */
    font-size: medium;
    font-weight: 400;
    color: #fff;
    margin-bottom: 7px;
}

.com-itm-title-desc-itm-comp{
    text-align: left;
    font-size: medium;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;
}

.com-itm-title-desc-itm-info{
    text-align: left;
    font-size: 0.9rem;
    font-weight: 300;
    color: #fff;

    display: flex;
}

