.exp-container {
    display: flex;
    margin-top: 70px;
    background-color: #272935;
    box-shadow: 0 3px 5px -5px rgba(255, 255, 255, 0.8);
}

.exp-left-half {
    flex-basis: 30%;
    overflow: auto;
    /* background-color: #272935; */
    /* background-color: red; */
}

.exp-txt-holder{
    margin-left: 25%;
    text-align: left;
    font-size:  3rem;
    font-weight: 500;
    color: #fff;
}

.exp-right-half {
    flex-basis: 70%;
    overflow: auto;
    background-color: #272935;
    /* background-color: green; */
    display: flex;
    overflow: hidden;
}

.handle{
    flex-basis: 15%;
    /* background-color: green; */
}

.svg-elem{
    width: 80%;
    height: 100%;
}

.exp-itm-holder{
    flex-basis: 85%;
    /* margin-bottom: 20px; */
    /* overflow: auto; */
}
.exp-itm{
    background-color: #343a40;
    width: 70%;
    height: 150px;
    padding: 30px;
    margin-bottom: 8%;
    border-radius: 5px;
    box-shadow: 2px 7px 5px -3px rgba(0, 0, 0, 0.8);
}

.exp-itm-title{
    display: flex;
    align-items: left;
}

.exp-itm-title-logo {
    flex-basis: 15%;
}

.exp-itm-title-desc{
    flex-basis: 85%;
}

.exp-logo{
    height: 50px;
    width: 50px;
}

.exp-itm-title-desc-itm-pos{
    text-align: left;
    /* margin-left: 5%; */
    font-size: larger;
    font-weight: 600;
    color: #fff;
    /* margin-bottom: 2px; */
}

.exp-itm-title-desc-itm-comp{
    text-align: left;
    font-size: large;
    font-size: 500;
    color: #fff;
    /* margin-bottom: 2px; */
}

.exp-itm-title-desc-itm-info{
    text-align: left;
    font-size: large;
    font-size: 400;
    color: #fff;

    display: flex;
}

.exp-itm-points{
    margin-top: 5%;
}

.exp-points-list{
    margin-left: 3%;
    
}
.exp-points-list-itm{
    text-align: left;
    font-size: medium;
    color: #fff;
}

